# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BBX_Coin
Comment=BBX_Coin QT test network
GenericName=BBX_Coin Digital Currency QT client testnet network
Exec=ballotbox_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ballotbox_coin_testnet.png
MimeType=x-scheme-handler/ballotbox;
Categories=X-Office;X-Finance;
Keywords=internet;ballotbox_coin;zballotbox;tballotbox;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=ballotbox-qt_testnet.desktop
